RewriteCond %{QUERY_STRING} ^(.*)FIF=/data/iip-data/(.*)\.jp2&HEI=128&CVT=jpeg$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2/thumb.jpg? [R,L]

RewriteCond %{QUERY_STRING} ^(.*)FIF=/data/iip-data/(.*)\.jp2&HEI=700&CVT=jpeg$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2/preview.jpg? [R,L]

RewriteCond %{QUERY_STRING} ^(.*)FIF=/data/iip-data/(.*)\.jp2&WID=999999&CVT=jpeg$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2/big.jpg? [R,L]

RewriteCond %{QUERY_STRING} ^(.*)FIF=/data/iip-data/(.*)\.jp2&CVT=jpeg$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2/big.jpg? [R,L]

RewriteCond %{QUERY_STRING} ^(.*)Zoomify=/data/iip-data/(.*)\.jp2/ImageProperties.xml$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2/ImageProperties.xml [R,L]

RewriteCond %{QUERY_STRING} ^(.*)iiif=/data/iip-data/(.*)\.jp2/info.json$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2/info.json [R,L]

RewriteCond %{QUERY_STRING} ^(.*)Zoomify=/data/iip-data/(.*)\.jp2(.*)$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2%3 [R,L]

RewriteCond %{QUERY_STRING} ^(.*)iiif=/data/iip-data/(.*)\.jp2(.*)$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2%3 [R,L]

